@charset "UTF8";

/*
    Paleta de cores
    roxo            #A2A6F2
    verde musgo     #8B8C8C
    azul            #049DD9
    azul bebe       #D0E9F2
*/


* {

    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: #D0E9F2;   
}

header {
    background-color:  #8B8C8C;
    color: white;
    text-align: center; /* Posição do texto na tela*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    padding-top: 50px;
    font-variant: small-caps;
    /*text-transform: capitalize;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.1vw;  
    text-shadow: black 0.1em 0.1em 0.2em;  
}

a:hover {
    color: rgb(116, 116, 247); /* Colorir texto quando passa o cursor*/
}

header > p {
    padding: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none; /* Retirar Decoração do texto*/
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline; /* sublinhar texto quando passar o cursor */
}

section {
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; 
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
}

section > p {
   padding-bottom: 0.8em;
}

section.normal {
    background-color: #D0E9F2;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541);  /* Sombra para dentro*/
    background-attachment: fixed; /* Fixar imagem de fundo*/
   
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

section.imagem > p {
    display: inline-block;/* Ajustar a caixa de acordo com o texto*/
    padding: 10px 10px;
    background-color: #049dd94d;
    text-shadow: 1.5px 2px 0px black;
    border-radius: 10px;
    width: 400px;
   
}

section#imag01 {
    background-image: url(../imagens/fundo1.jpg); /* coloca a imagem de fundo */
    background-position: center center;                 /*  posiciona a imagem de fundo  */         
    background-size: cover;                            /*  Deixa a imagem de fundo do tamanho da tela */
}

section#imag02 {
    background-image: url(../imagens/imagem-fundo1-3.jpg);
    background-position: center center; 
    background-size: cover;
}

footer {
    background-color:#8B8C8C;
    color: white;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em; 
    padding: 10px;
    line-height: 2em; /* Espaçamento entre altura de linha*/
    margin-bottom: 30px;
}   

div#botao {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: fixed;
    bottom:30px;
    right:30px;
}

